<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.wkentaur.etwiktionary"
        versionCode = "2"
        version     = "0.2.0">
 
    <name>
		English-Estonian Wiktionary
    </name>

    <name xml:lang="et" dir="ltr"> 
		Inglise-eesti vikisõnastik
    </name>
 
    <description>
		English-Estonian dictionary based on Wiktionary data. Also the data from EKI dictionary is used.	
    </description>
 
    <description xml:lang="et" dir="ltr">
        Vikisõnastikul põhinev inglise-eesti sõnastik. Kasutatud on ka EKI inglise-eesti sõnastikku. 
    </description>

	<icon src="icon.png" width="100" height="100"/>

    <author email="raul.kern@eesti.ee">
        Raul Kern
    </author>
 
    <feature name="http://api.phonegap.com/1.0/network"/>
	
</widget>
